/* @import url('https://fonts.googleapis.com'); */

.navbar{
    background-color: #202020;
    width: 100%;
    position:fixed;
    top: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.head h1{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head img{
    width:40px;
}
.options{
    text-decoration: none;
    display: flex ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color:white;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.options a{
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
    color:white;
}

.options a:hover{
    color:#645bff;
    font-size: 18px;
    font-weight: 600;
}

.login {
    width: 80px;
    padding: 10px 10px;
    border-radius: 20px 0 20px 0;
    background-color:  #645bff;;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.yourblog {
    width: 80px;
    height: 40px;
    padding: 10px 10px;
    border-radius: 0 20px 0 20px ;
    background-color:  #645bff;;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.login:hover{
    border-radius: 0 20px 0 20px;
}
.login a:hover{
    color: white;
    font-size: 15px;
}
.login a{
    color: white;
}
