.outerbox{
    width: 450px;
    height: 550px;
    border: 1px solid;
    margin-top: 100px;
    margin-left: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background:url("../../Images/container-bg3.jpg");
    background-size: cover;
}

.outerbox .contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents h1{
    color: white;
    text-transform: uppercase;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.inputs input{
    width: 280px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.button .signup{
    width: 280px;
    margin-top: 50px;
    height: 40px;
    background-color: #ffffff;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px;
}